.p1_And_p2{
    color: red;
}
.p3_And_p4{
    background-color: blue;
}
.p5_And_p6{
    border: 2px solid purple;
}
.p7_And_p8{
    color: brown;
}
.p9_And_p10{
    color: yellow;
}
.p_1{color: blue;}
.p_2{color: yellow;}
.p_3{color: green;}
.p_4{color: red;}
.h1_1{color: green;}
.h1_2{color: blue;}
.h1_3{color: yellow;}
.h1_4{color: red;}